/*--------------------------------------
        RESET 
---------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*--------------------------------------
        /RESET 
---------------------------------------*/


 /*-----------------
    COMMON 
 -----------------*/
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.container{
    max-width: 60%;
    margin: auto;
}

body{
    font-family: 'Fredoka', sans-serif;
}
  /*-----------------
    /COMMON 
 -----------------*/


/*--------------------------------------
         TYPOGRAPHY
---------------------------------------*/

h1{
    font-weight: bold;
    color: #E53170;
}

a{
    text-decoration: none;
    color: #6ecbcd;
}

/*--------------------------------------
         TYPOGRAPHY
---------------------------------------*/

/*--------------------------------------
         MAIN
---------------------------------------*/

header{
    margin: 20px 20px;
    text-align: center;
}

.text{
    text-align: center;
}

.riga{
    width: 100%;
}

#riga-1{
    margin: 50px 0 30px 0;
}

.elemento{
    float: left;
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #0f0e17;
    color: white;
    box-shadow: 5px 5px 10px 0px #000000;
}

/* se cambio l'altezza in .foto dovro cambiare il valore anche nel calc width di .info-persona */
.foto{
    float: left;
    width: 30%;
    height: 100%;
    display: block;
}

.info-persona{
    float: left;
    padding: 10px 10px;
    width: 70%;
    height: calc(100% - 20px);
    line-height: 23px;
}

/*--------------------------------------
         /MAIN
---------------------------------------*/

